.avatar {
    width: 50px;
    height: 50px;
}

.avatar-nav {
    width: 38px;
    height: 38px;
}

.avatar-question {
    width: 72px;
    height: 72px;
}

.avatar-big {
    width: 100px;
    height: 100px;
}

.avatar-side {
    width: 24px;
    height: 24px;
}
.nont-display {
    display: none;
}

.question-list-item {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
}

.question-list-title {
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0 1px 0 #fff;
    word-break: break-word;
    display: block;
}

.question-list-title a{
    color: #778087;
    word-break: break-word;
}

.hot-rank-title {
    font-size: 13px;
    line-height: 120%;
    text-shadow: 0 1px 0 #fff;
}

.hot-rank-title a{
    color: #778087;
    word-break: break-word;
}

.text-color-000 {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    padding: 0;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.question-header {
    padding: 10px;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: auto;
}

.inner-title {
    padding: 10px;
}

.inner-title span{
    font-size: 22px;
    display: inline-block;
    line-height: 22px;
    padding: 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #334;
    color: #fff;
}

.box {
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border-radius: 3px;
    border-bottom: 1px solid #e2e2e2;
}

.box-left {
    margin: 0 310px 0 20px;
}

.gray {
    color: #999;
}

.gray a{
    color: #999;
}

.d-gray, .d-gray a{
    color: #778087;
}

.l-gray {
    color: #cccccc;
}

.box-right {
    width: 270px;
    float: right;
    margin-right: 20px;
}

.registered-right {
    margin-top: 8rem !important;
    width: 500px;
    float: right;
}

.registered-left {
    margin: 0 510px 0 20px;
    width: 580px;
    height: 100%;
}

.registered-left-img {
    width: 100%;
    height: 100%;
}

.login-form {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.login-button {
    text-align: center;
}

.th-account-icon {
    width: 30px;
    height: 30px;
}

.transparent {
    background-color: transparent;
    border: 2px dashed rgba(0,0,0,.1);
    border-radius: 3px;
    box-shadow: none;
    color: rgba(0,0,0,.1);
}

.cell {
    padding: 10px;
    font-size: 16px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

#wrapper {
    background-color: #e2e2e2;
    background-image: url("/img/shadow_light.png");
    background-repeat: repeat-x,repeat;
}

#bottom {
    border-top: 1px solid rgba(0,0,0,.22);
    background-color: #fff;
    text-align: center;
    color: #999;
    padding: 0 10px;
}

.inner {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}

.reply-content {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    word-break: break-word;
}

.bg-l-gray {
    background-color: #f7f7f9;
}

.notify-content {
    padding: 5px 10px;
    line-height: 120%;
    border-radius: 3px;
    word-break: break-word;
}

.thank-area {
    display: inline-block;
    padding: 2px 5px;
}

.sep5 {
    height: 5px;
}

.sep10 {
    height: 10px;
}

.sep20{
    height: 20px;
}



.inline {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: none;
}

.unselect-tag {
    display: inline-block;
    font-size: .875rem;
    padding: 0 .375rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: .1875rem;
    background-color: rgba(0,150,94,.1);
}

.selected-tag {
    display: inline-block;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.tag {
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    padding: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}

.tag-card {
    width: 475px;
}

.wid430 {
    width: 430px;
}

/*分页*/
.page_normal:link, .page_normal:visited {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    padding: 2px 5px;
    background-color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 1px;
    text-decoration: none;
    border: 1px solid #e2e2e2;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.page_current {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 6px;
    background-color: #f0f0f0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 1px;
    border: 1px solid #bbb;
    color: #000;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.page_input {
    padding: 4px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 40px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    color: #ccc;
}