.avatar {
    width: 50px;
    height: 50px;
}

.text-color-000 {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    display: block;
}

.avatar-nav {
    width: 38px;
    height: 38px;
}
