<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>灌水灌个爽</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/zico.min.css">
</head>
<body>
<div th:insert="~{fragment/nav :: nav}">
</div>
<div id="wrapper">
    <div class="sep20"></div>
    <div class="container">
        <div th:insert="~{fragment/right :: right}"></div>
        <div class="box box-left">
            <div class="inner-title">
                <span><i class="zi zi_list"></i>&nbsp;发现</span>
            </div>
            <ul class="list-unstyled">
                <li class="media question-list-item" th:each="question : ${pagination.pageList}">
                    <img class="mr-3 avatar rounded" th:src="${question.user.avatarUrl}"
                         alt="avater image">
                    <div class="media-body">
                        <span class="mt-0 mb-1 question-list-title"><a th:href="@{'/question/' + ${question.id}}"
                                                                       th:text="${question.title}"></a></span>
                        <span class="text-color-000">
                            <span th:if="${question.tagList.size() != 0}" th:each="tag : ${question.tagList}">
                                <a class="tag" th:text="${tag.tagName}"></a>
                            </span>
                            <strong th:text="${question.user.name}"></strong> •
                            <span th:text="${question.commentCount}"></span> 个回复 • <span
                                th:text="${question.viewCount}"></span> 次浏览 •
                            <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                </li>
            </ul>
            <div class="cell" style="background-image: url('/img/shadow_light.png'); background-size: 20px 20px; background-repeat: repeat-x;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody><tr>
                        <td width="92%" align="left">
                            <div class="inline" th:each="page : ${pagination.pages}">
                                <a th:class="${pagination.currentPage == page}?'page_current':'page_normal'"
                                   th:href="@{~/(page=${page})}" th:text="${page}"></a>
                                &nbsp;
                            </div>
                            <input type="number" class="page_input" autocomplete="off" th:value="${pagination.currentPage}" min="1" th:max="${pagination.totalPage}"
                                   onkeydown="if (event.keyCode == 13)
                                location.href = '/?page=' + this.value">
                        </td>
                        <td width="8%" align="right">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tbody><tr>
                                    <td width="50%" height="50%" align="center" class="btn btn-light btn-sm" th:if="${pagination.showPre}">
                                        <a th:href="@{~/(page=${pagination.currentPage - 1})}">❮</a>
                                    </td>
                                    <td width="50%" height="50%" align="center" class="btn btn-light btn-sm" th:if="${pagination.showNext}">
                                        <a th:href="@{~/(page=${pagination.currentPage + 1})}">❯</a>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>
    </div>
    <div class="sep20"></div>
</div>
<div th:insert="~{fragment/bottom :: bottom}"></div>
</body>
<script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/pagejs/index.js" type="application/javascript"></script>
<script src="/pagejs/rightSide.js" type="application/javascript"></script>
</html>