<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>灌水灌个爽</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/zico.min.css">
    <script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/pagejs/index.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment/nav :: nav}">
</div>
<div id="wrapper">
    <div class="sep20"></div>
    <div class="container">
        <div class="box-right">
            <div class="box ">
                <div class="cell">
                    <span class="gray">无未读消息</span>
                </div>
            </div>
            <div class="sep20"></div>
            <div class="box" id="hot-rank">
                <div class="cell">
                    <span class="gray">近期热门文章</span>
                </div>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <span class="gray">标签</span>
                </div>
                <div class="cell" id="tag-content"></div>
            </div>
        </div>
        <div class="box box-left">
            <div class="inner-title">
                <span><i class="zi zi_list"></i>&nbsp;发现</span>
            </div>
            <ul class="list-unstyled">
                <li class="media question-list-item" th:each="question : ${pagination.pageList}">
                    <img class="mr-3 avatar rounded" th:src="${question.user.avatarUrl}"
                         alt="avater image">
                    <div class="media-body">
                        <span class="mt-0 mb-1 question-list-title"><a th:href="@{'/question/' + ${question.id}}"
                                                                       th:text="${question.title}"></a></span>
                        <span class="text-color-000">
                            <span th:if="${question.tagList.size() != 0}" th:each="tag : ${question.tagList}">
                                <a class="tag" th:text="${tag.tagName}"></a>
                            </span>
                            <strong th:text="${question.user.name}"></strong> •
                            <span th:text="${question.commentCount}"></span> 个回复 • <span
                                th:text="${question.viewCount}"></span> 次浏览 •
                            <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${pagination.showFirst}">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showPre}">
                        <a class="page-link" th:href="@{/(page=${pagination.currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${pagination.pages}"
                        th:class="${pagination.currentPage == page}?'page-item active':'page-item'">
                        <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{/(page=${pagination.currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showLast}">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="sep20"></div>
</div>
<div th:insert="~{fragment/bottom :: bottom}"></div>
</body>

</html>