<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/zico.min.css">
    <script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/pagejs/index.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment/nav :: nav}">
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
            <div>
                <h3>&nbsp;<span th:text="${sectionName}"></span></h3>
            </div>
            <hr>
            <ul class="list-unstyled" >
                <li class="media" th:each="question : ${pagination.pageList}">
                    <img class="mr-3 avatar rounded" th:src="${question.user.avatarUrl}"
                         alt="avater image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" th:text="${question.title}"></h5>
                        <br>
                        <span class="text-color-000">
                        <span th:text="${question.commentCount}"></span> 个回复 • <span
                                th:text="${question.viewCount}"></span> 次浏览 •
                            <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"  th:if="${pagination.showFirst}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showPre}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${pagination.pages}" th:class="${pagination.currentPage == page}?'page-item active':'page-item'">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}" ></a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showLast}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 ">
            <div class="list-group list-group-flush">
                <a href="/profile/question" class="list-group-item list-group-item-action"
                   th:classappend="${section == 'question'}?'active':''">
                    我的发布
                </a>
                <a href="/profile/replies" class="list-group-item list-group-item-action"
                   th:classappend="${section == 'replies'}?'active':''">最新回复</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>