<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDto.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/zico.min.css">
    <script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/pagejs/question.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment/nav :: nav}">
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
            <div>
                <h4><span th:text="${questionDto.title}"></span></h4>
            </div>
            <div class="text-color-000">
                    作者:<span th:text="${questionDto.user.name}"></span>&nbsp;|&nbsp;
                    阅读数:<span th:text="${questionDto.viewCount}"></span>&nbsp;|&nbsp;
                    发布于:<span th:text="${#dates.format(questionDto.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDto.description}">
            </div>
            <hr>
            <input type="hidden" th:value="${questionDto.getId()}" id="question_id">
            <div class="ml-auto" th:if="${session.user != null && questionDto.user.id == session.user.id}">
                <button type="button" class="btn btn-light btn-sm" onclick="editQuestion()"><i class="zi zi_pencilalt"></i>编辑</button>
            </div>
        </div>
        <div class="col-lg-3 ">
            <h5>发起人</h5>
            <br>
            <div class="media">
                <img class="mr-3 rounded avatar-nav" th:src="${questionDto.user.avatarUrl}">
                <div class="media-body">
                    <h5 class="mt-0" th:text="${questionDto.user.name}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>